.b-screen-module {
	background-color: siteColor(vam-black);
	color: siteColor(vam-white);
	display: flex;
	height: 72px;
	&__cell {
		padding: 16px;
	}
	&__event-label {
		 @include typeSetting(2, bold, uppercase);
		 color: themeColor(strawberry);
		 text-shadow: siteColor(vam-black) 0 1px 2px;
	}

}


